RewriteEngine On # Turn on the rewriting engine
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
#RewriteRule ^index/?$ index.php [NC,L]
#admin
RewriteRule ^login/?$ login.php [NC,L]
RewriteRule ^index/?$ index.php [NC,L]
RewriteRule ^register/?$ register.php [NC,L]
#users
#RewriteRule ^([^\.]+)$ $1.php [NC,L]