RewriteEngine On # Turn on the rewriting engine
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
#RewriteRule ^index/?$ index.php [NC,L]
#admin
RewriteRule ^dashboard/?$ index.php?page=dashboard [NC,L]
RewriteRule ^course/?$ index.php?page=course [NC,L]
RewriteRule ^modules/?$ index.php?page=module [NC,L]
RewriteRule ^exam/?$ index.php?page=exam [NC,L]
RewriteRule ^student/?$ index.php?page=student [NC,L]
RewriteRule ^ranking/?$ index.php?page=ranking [NC,L]
RewriteRule ^result/?$ index.php?page=result [NC,L]
RewriteRule ^faq/?$ index.php?page=faq [NC,L]
RewriteRule ^course-user/?$ index.php?page=course-user [NC,L]
RewriteRule ^module-user/?$ index.php?page=module-user [NC,L]
RewriteRule ^400/?$ index.php?page=400 [NC,L]
RewriteRule ^403/?$ index.php?page=403 [NC,L]
RewriteRule ^404/?$ index.php?page=404 [NC,L]
RewriteRule ^500/?$ index.php?page=500 [NC,L]
RewriteRule ^503/?$ index.php?page=503 [NC,L]
#users
RewriteRule ^user-dashboard/?$ index.php?page=user-dashboard [NC,L]
RewriteRule ^profile/?$ index.php?page=profile [NC,L]
RewriteRule ^home/?$ index.php?page=home [NC,L]
RewriteRule ^student-result/?$ index.php?page=student-result [NC,L]
#RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule ^exam-user/?$ index.php?page=exam-user [NC,L]
RewriteRule ^exam_circle/?$ index.php?page=exam_circle [NC,L]
RewriteRule ^exam_circle1/?$ exam-circle1.php [NC,L]
RewriteRule ^excircle_result/?$ index.php?page=excircle_result [NC,L]
RewriteRule ^lesson_1/?$ index.php?page=lesson_1 [NC,L]
RewriteRule ^lesson_2/?$ index.php?page=lesson_2 [NC,L]
RewriteRule ^lesson_3/?$ index.php?page=lesson_3 [NC,L]
RewriteRule ^lesson_4/?$ index.php?page=lesson_4 [NC,L]
RewriteRule ^lesson1_read/?$ index.php?page=lesson1_read [NC,L]
RewriteRule ^excircle_result-modal/?$ index.php?page=excircle_result-modal [NC,L]
RewriteRule ^exam_review/?$ index.php?page=exam_review [NC,L]
RewriteRule ^exam_result-L1/?$ index.php?page=exam_result-L1 [NC,L]

#RewriteRule ^index/([0-9]+)/([0-9a-zA-Z_-]+) index.php?page=$1 [NC]
RewriteRule ^index/([0-9a-zA-Z_-]+) index.php?page=$1 [NC]